Repository mapbox/android-docs, pull requests merged in 2018-03, with the labels that each got.

#346 Updates for 0.11.0 Navigation SDK
  batfish.config.js
  src/constants.js
  src/pages/navigation/overview/camera.md
  src/pages/navigation/overview/navigation-ui.md
Labels: navigation-sdk

#351 Update broken link to plugin examples page
  src/pages/plugins/overview/index.md
Labels: update doc, ✓ ready for review

#357 Meta description changes & additions
  src/pages/map-sdk/examples/index.js
  src/pages/map-sdk/overview/annotations.md
  src/pages/map-sdk/overview/camera.md
  src/pages/map-sdk/overview/events.md
  src/pages/map-sdk/overview/index.md
  src/pages/map-sdk/overview/offline.md
  src/pages/map-sdk/overview/query.md
  src/pages/map-sdk/overview/runtime-styling.md
  src/pages/map-sdk/overview/styling-map.md
  src/pages/map-sdk/tutorials/index.js
  src/pages/mapbox-services/examples/index.js
  src/pages/mapbox-services/overview/directions-matrix.md
  src/pages/mapbox-services/overview/geocoder.md
  src/pages/mapbox-services/overview/index.md
  src/pages/mapbox-services/overview/static-image.md
  src/pages/navigation/overview/camera.md
  src/pages/navigation/overview/faster-route.md
  src/pages/navigation/overview/index.md
  src/pages/navigation/overview/milestones.md
  src/pages/navigation/overview/navigation-options.md
  src/pages/navigation/overview/navigation-ui.md
  src/pages/navigation/overview/off-route.md
  src/pages/navigation/overview/route-progress.md
  src/pages/plugins/examples/index.js
  src/pages/plugins/overview/building.md
  src/pages/plugins/overview/geojson.md
  src/pages/plugins/overview/index.md
  src/pages/plugins/overview/location-layer.md
  src/pages/plugins/overview/places.md
  src/pages/plugins/overview/traffic.md
  src/pages/telemetry/overview/index.md
Labels: update doc, ✓ ready for review

#289 Updated Map SDK text
  README.md
  src/components/mobile-product-menu.js
  src/components/product-menu.js
  src/data/product-names.js
  src/pages/map-sdk/examples/index.js
  src/pages/map-sdk/overview/camera.md
  src/pages/map-sdk/overview/events.md
  src/pages/map-sdk/overview/index.md
  src/pages/map-sdk/overview/query.md
  src/pages/map-sdk/overview/styling-map.md
  src/pages/map-sdk/tutorials/index.js
  src/pages/plugins/overview/building.md
  src/pages/plugins/overview/index.md
  src/pages/plugins/overview/location-layer.md
Labels: update doc, work in progress

#369 Fixing java service example card page (URL links, order, content, etc.)
  conf/image-config.js
  src/img/dist/3d-extrusions-device-rotation-520.webp
  src/img/dist/3d-extrusions-extrusion_light-520.webp
  src/img/dist/3d-extrusions-population_extrusions-520.webp
  src/img/dist/android-runtime-intro-1200.webp
  src/img/dist/annotations-animated-marker-520.webp
  src/img/dist/annotations-custom-info-window-520.png
  src/img/dist/annotations-polygon-520.webp
  src/img/dist/annotations-polyline-520.webp
  src/img/dist/camera-animated-camera-520.webp
  src/img/dist/camera-camera-bbox-520.webp
  src/img/dist/dds-categorically-dds-520.webp
  src/img/dist/dds-data-time-lapse-520.webp
  src/img/dist/dds-intro-1200.webp
  src/img/dist/dds-population-zoom-520.webp
  src/img/dist/first-steps-activity-customize-1200.png
  src/img/dist/first-steps-activity-customize-1200.webp
  src/img/dist/first-steps-activity-customize-640.webp
  src/img/dist/first-steps-build-gradle-435.webp
  src/img/dist/first-steps-change-style-435.webp
  src/img/dist/first-steps-final-workspace-435.webp
  src/img/dist/first-steps-initial-map-435.webp
  src/img/dist/first-steps-intro-1200.webp
  src/img/dist/first-steps-project-configure-1200.png
  src/img/dist/first-steps-project-configure-1200.webp
  src/img/dist/first-steps-project-configure-320.webp
  src/img/dist/first-steps-project-configure-640.webp
  src/img/dist/getting-started-simple-map-520.webp
  src/img/dist/mapbox-services-direction-520.webp
  src/img/dist/mapbox-services-map-matching-520.webp
  src/img/dist/mapbox-services-matrix-520.png
  src/img/dist/mapbox-services-matrix-520.webp
  src/img/dist/mapbox-services-simplify-line-520.webp
  src/img/dist/mapbox-services-static-image-520.webp
  src/img/dist/offline-offline-manager-520.webp
  src/img/dist/offline-simple-offline-520.webp
  src/img/dist/overview-map-sdk-322.webp
  src/img/dist/overview-navigation-sdk-322.webp
  src/img/dist/overview-plugins-322.webp
  src/img/dist/overview-services-sdk-322.webp
  src/img/dist/plugins-building-520.webp
  src/img/dist/query-feature-count-520.webp
  src/img/dist/query-query-map-520.webp
  src/img/dist/query-select-building-520.webp
  src/img/dist/query-single-layer-click-520.webp
  src/img/dist/store-locator-intro-1200.webp
  src/img/dist/style-map-change-map-language-520.webp
  src/img/dist/style-map-clustering-520.png
  src/img/dist/style-map-clustering-520.webp
  src/img/dist/style-map-custom-colors-520.webp
  src/img/dist/style-map-default-style-520.webp
  src/img/dist/style-map-hotspots-runtime-520.webp
  src/img/dist/style-map-layer-opacity-520.webp
  src/img/dist/style-map-vector-layer-520.png
  src/img/dist/style-map-vector-layer-520.webp
  src/img/src/mapbox-services-matrix.png
  src/pages/mapbox-services/examples/index.js
  src/pages/plugins/examples/index.js
Labels: mapbox-java, update doc, ✓ ready for review

#370 Location engine updates
  src/pages/telemetry/overview/index.md
Labels: update doc

#338 Adding dedicated localization plugin page
  batfish.config.js
  package-lock.json
  src/pages/plugins/overview/index.md
  src/pages/plugins/overview/localization.md
Labels: update doc, ✓ ready for review

#379 Fixed plugin name length in sidebar
  src/pages/plugins/overview/geojson.md
  src/pages/plugins/overview/location-layer.md
Labels: plugin-sdk, update doc, ✓ ready for review

#380 Standardized Mapbox Java Services API page descriptions
  src/pages/mapbox-services/overview/directions-matrix.md
  src/pages/mapbox-services/overview/geocoder.md
  src/pages/mapbox-services/overview/index.md
  src/pages/mapbox-services/overview/static-image.md
Labels: mapbox-java, update doc, ✓ ready for review

#367 Adding section for Optimization API
  batfish.config.js
  conf/image-config.js
  src/img/dist/mapbox-services-optimization-520.png
  src/img/dist/mapbox-services-optimization-520.webp
  src/img/src/mapbox-services-optimization.png
  src/pages/mapbox-services/examples/index.js
  src/pages/mapbox-services/overview/optimization.md
Labels: mapbox-java, update doc, ✓ ready for review
