Repository mapbox/android-docs, pull requests merged in 2018-02, with the labels that each got.

#293 Removed mapbox-android-ui references
  src/components/side-navigation.js
  src/pages/mapbox-services/overview/geocoder.md
  src/pages/mapbox-services/overview/index.md
Labels: mapbox-java, update doc, ✓ ready for review

#296 Adjusted selectively compiling APIs lines' naming
  src/pages/mapbox-services/overview/index.md
Labels: mapbox-java, update doc, ✓ ready for review

#304 Adjusting side-navigation.js file to account for new 3.x structure
  src/components/side-navigation.js
Labels: update doc, ✓ ready for review

#315 added contribution docs
  CONTRIBUTING.md
  README.md
Labels: update doc

#326 Updates for 0.10.0 Nav SDK Release
  src/constants.js
  src/pages/navigation/overview/faster-route.md
  src/pages/navigation/overview/index.md
  src/pages/navigation/overview/milestones.md
  src/pages/navigation/overview/navigation-ui.md
  src/pages/navigation/overview/off-route.md
Labels: navigation-sdk

#331 3.0.0 mapbox java docs cleanup
  src/pages/mapbox-services/overview/index.md
Labels: update doc, ✓ ready for review
