Repository mapbox/android-docs, pull requests merged in 2018-07, with the labels that each got.

#546 Update javadoc for LocationLayerPlugin 0.6.0
  api/plugins/locationlayer/0.6.0/allclasses-frame.html
  api/plugins/locationlayer/0.6.0/allclasses-noframe.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/CompassListener.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.Builder.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnCameraTrackingChangedListener.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerClickListener.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerLongClickListener.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationStaleListener.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/AccuracyAnimator.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/BearingAnimator.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/LatLngAnimator.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-frame.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-summary.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-tree.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.Mode.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.Mode.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-frame.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-summary.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-tree.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/package-frame.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/package-summary.html
  api/plugins/locationlayer/0.6.0/com/mapbox/mapboxsdk/plugins/locationlayer/package-tree.html
  api/plugins/locationlayer/0.6.0/constant-values.html
  api/plugins/locationlayer/0.6.0/deprecated-list.html
  api/plugins/locationlayer/0.6.0/help-doc.html
  api/plugins/locationlayer/0.6.0/index-all.html
  api/plugins/locationlayer/0.6.0/index.html
  api/plugins/locationlayer/0.6.0/overview-frame.html
  api/plugins/locationlayer/0.6.0/overview-summary.html
  api/plugins/locationlayer/0.6.0/overview-tree.html
  api/plugins/locationlayer/0.6.0/package-list
  api/plugins/locationlayer/0.6.0/script.js
  api/plugins/locationlayer/0.6.0/stylesheet.css
Labels: plugin-sdk, update doc, ✓ ready for review

#551 Add NavigationView Color Map
  conf/image-config.js
  package-lock.json
  src/img/dist/navigation-view-color-diagram-1000.png
  src/img/dist/navigation-view-color-diagram-1000.webp
  src/img/src/navigation-view-color-diagram.png
  src/pages/navigation/overview/navigation-ui.md
Labels: navigation-sdk

#559 Updating LLP style URLs and constructor example
  src/pages/plugins/overview/location-layer.md
Labels: plugin-sdk, update doc, ✓ ready for review

#539 Adding section about GeoJSON clustering
  batfish.config.js
  conf/image-config.js
  src/img/dist/circle-layer-cluster-1400.png
  src/img/dist/circle-layer-cluster-1400.webp
  src/img/dist/location-layer-gps-500.gif
  src/img/dist/location-layer-gps-500.webp
  src/img/dist/symbol-layer-cluster-1400.png
  src/img/dist/symbol-layer-cluster-1400.webp
  src/img/src/circle-layer-cluster.png
  src/img/src/symbol-layer-cluster.png
  src/pages/maps/overview/clustering.md
Labels: maps-sdk, update doc, ✓ ready for review

#568 Navigation SDK v0.16.0 Updates
  src/pages/navigation/overview/navigation-ui.md
Labels: navigation-sdk, update doc

#569 Notes about new LLP camera methods
  src/pages/plugins/overview/location-layer.md
Labels: plugin-sdk

#574 Adding map matching section to Java SDK area
  batfish.config.js
  src/pages/java/overview/directions-matrix.md
  src/pages/java/overview/map-matching.md
Labels: mapbox-java, update doc, ✓ ready for review

#575 Added blurb and code about onStyleLoaded callback and DID_FINISH_LOADING_STYLE
  src/pages/maps/overview/events.md
  src/pages/maps/overview/styling-map.md
Labels: maps-sdk, update doc, ✓ ready for review

#576 Navigation & camera cross linking
  src/pages/navigation/overview/camera.md
  src/pages/plugins/overview/location-layer.md
Labels: navigation-sdk, ✓ ready for review

#577 added crosslink from map sdk's camera page to location plugin camera
  src/pages/maps/overview/camera.md
Labels: maps-sdk, plugin-sdk, update doc, ✓ ready for review

#578 Title change to extrusion example section
  src/components/markdown-page-shell.js
  src/pages/maps/examples/adjust-light-location-and-color.md
  src/pages/maps/examples/display-3d-building-height-based-on-vector-data.md
  src/pages/maps/examples/extrude-polygons-for-3d-indoor-mapping.md
  src/pages/maps/examples/rotate-extrustions.md
  src/pages/maps/examples/use-geojson-data-to-set-extrusion-height.md
Labels: maps-sdk, site layout fixes, ✓ ready for review

#573 Adding note about zoom levels for location layer plugin
  src/pages/plugins/overview/location-layer.md
Labels: plugin-sdk, update doc, ✓ ready for review
