Repository mapbox/android-docs, pull requests merged in 2018-10, with the labels that each got.

#651 Core Kotlin Examples
  src/pages/core/overview/index.md
Labels: ✓ ready for review

#657 Lowered minSdk for plugins' pages
  src/pages/plugins/overview/building.md
  src/pages/plugins/overview/localization.md
  src/pages/plugins/overview/location-layer.md
  src/pages/plugins/overview/offline.md
  src/pages/plugins/overview/places.md
  src/pages/plugins/overview/traffic.md
Labels: update doc, ✓ ready for review

#637 Code/writing fix to NavigationViewOptions
  src/pages/navigation/overview/navigation-ui.md
Labels: navigation-sdk, update doc, ✓ ready for review

#655 Adding Google Play badge for demo app
  conf/image-config.js
  src/img/dist/google-play-badge-1400.png
  src/img/dist/google-play-badge-1400.webp
  src/img/src/google-play-badge.png
  src/pages/maps/overview/index.md
Labels: design, ✓ ready for review

#661 added blurb about mapView.onDestroy being called in fragment onDestroyView()
  src/pages/maps/overview/index.md
Labels: maps-sdk, update doc, ✓ ready for review

#650 Adding Kotlin toggles
  src/pages/java/overview/directions-matrix.md
  src/pages/java/overview/geocoder.md
  src/pages/java/overview/index.md
  src/pages/java/overview/map-matching.md
  src/pages/java/overview/optimization.md
  src/pages/java/overview/static-image.md
  src/pages/java/overview/turf.md
  src/pages/maps/overview/annotations.md
  src/pages/maps/overview/camera.md
  src/pages/maps/overview/clustering.md
  src/pages/maps/overview/events.md
  src/pages/maps/overview/gestures.md
  src/pages/maps/overview/index.md
  src/pages/maps/overview/offline.md
  src/pages/maps/overview/query.md
  src/pages/maps/overview/runtime-styling.md
  src/pages/maps/overview/snapshotter.md
  src/pages/maps/overview/styling-map.md
  src/pages/navigation/overview/camera.md
  src/pages/navigation/overview/faster-route.md
  src/pages/navigation/overview/index.md
  src/pages/navigation/overview/map-matching.md
  src/pages/navigation/overview/milestones.md
  src/pages/navigation/overview/navigation-options.md
  src/pages/navigation/overview/navigation-ui.md
  src/pages/navigation/overview/off-route.md
  src/pages/navigation/overview/route-progress.md
  src/pages/plugins/overview/building.md
  src/pages/plugins/overview/china.md
  src/pages/plugins/overview/index.md
  src/pages/plugins/overview/localization.md
  src/pages/plugins/overview/location-layer.md
  src/pages/plugins/overview/offline.md
  src/pages/plugins/overview/places.md
  src/pages/plugins/overview/traffic.md
Labels: update doc, work in progress

#674 Add NavigationRoute documentation for bearing-aware routes
  src/pages/navigation/overview/index.md
Labels: navigation-sdk, update doc, ✓ ready for review

#677 Nav request route toggle fix
  src/pages/navigation/overview/index.md
Labels: navigation-sdk, update doc

#656 Adding annotation plugin docs page
  batfish.config.js
  src/pages/maps/overview/annotations.md
  src/pages/maps/overview/runtime-styling.md
  src/pages/plugins/overview/annotation.md
  src/pages/plugins/overview/index.md
Labels: plugin-sdk, ✓ ready for review

#683 Plugin overview cleanup
  src/pages/plugins/overview/index.md
Labels: update doc, ✓ ready for review

#695 Update Navigation Docs for 0.22.0
  src/pages/navigation/overview/navigation-options.md
  src/pages/navigation/overview/navigation-ui.md
  src/pages/navigation/overview/off-route.md
Labels: navigation-sdk, update doc, ✓ ready for review
