Repository mapbox/android-docs, pull requests merged in 2018-09, with the labels that each got.

#617 Add User Location Fragment Example
  conf/image-config.js
  src/example-code/LocationPluginFragmentActivity.js
  src/example-code/java/location-plugin-fragment-activity--full-java.java
  src/img/dist/example-location-fragment-1400.png
  src/img/dist/example-location-fragment-1400.webp
  src/img/dist/thumbnail-location-fragment-400.png
  src/img/dist/thumbnail-location-fragment-400.webp
  src/img/src/example-location-fragment.png
  src/img/src/thumbnail-location-fragment.png
  src/pages/plugins/examples/show-a-users-location-on-a-fragment.md
Labels: plugin-sdk, update doc, ✓ ready for review

#583 Adding expressions page
  batfish.config.js
  src/pages/maps/overview/expressions.md
Labels: maps-sdk, update doc, work in progress

#634 Note on mismatching Gradle dependencies
  src/pages/maps/overview/index.md
Labels: maps-sdk, update doc, ✓ ready for review

#633 Tweaks to LocationEngine page
  src/pages/core/overview/index.md
Labels: update doc, ✓ ready for review

#635 Tweak to StaticMap
  src/pages/java/overview/static-image.md
Labels: mapbox-java, update doc, ✓ ready for review

#636 Additions to place picker UI section
  conf/image-config.js
  src/img/dist/place-picker-android-360.png
  src/img/dist/place-picker-android-360.webp
  src/img/dist/place-picker-android-720.png
  src/img/dist/place-picker-android-720.webp
  src/img/src/place-picker-android.png
  src/pages/plugins/overview/places.md
Labels: plugin-sdk, work in progress

#644 Map change event lifecycle changes
  src/pages/maps/overview/events.md
Labels: maps-sdk, update doc, ✓ ready for review
