Repository mapbox/android-docs, pull requests merged in 2018-11, with the labels that each got.

#711 Adding code snippets for render and camera mode
  package-lock.json
  src/pages/maps/overview/location-component.md
Labels: maps-sdk, update doc, ✓ ready for review

#714 Adding more info about shifting location in China
  src/pages/plugins/overview/china.md
Labels: plugin-sdk, update doc, ✓ ready for review

#687 Adding page about the Markerview Plugin
  batfish.config.js
  src/data/android-api-reference-links.js
  src/pages/plugins/overview/index.md
  src/pages/plugins/overview/markerview.md
Labels: plugin-sdk, ✓ ready for review

#717 Update for Navigation v0.23.0
  src/constants.js
  src/pages/navigation/overview/navigation-options.md
  src/pages/navigation/overview/navigation-ui.md
  src/pages/navigation/overview/route-progress.md
Labels: navigation-sdk, update doc, ✓ ready for review

#721 [annotation-plugin] constructor update
  src/pages/plugins/overview/annotation.md
Labels: update doc, ✓ ready for review

#722 Move mention of Offline Plugin to top of offline page
  src/pages/maps/overview/annotations.md
  src/pages/maps/overview/offline.md
Labels: maps-sdk, plugin-sdk, ✓ ready for review

#731 Removed duplicate Nav UI installation implementation line
  src/pages/navigation/overview/navigation-ui.md
Labels: ✓ ready for review
