Repository mapbox/android-docs, pull requests merged in 2018-12, with the labels that each got.

#746 Tweaks and additions to camera page
  src/pages/maps/overview/camera.md
Labels: maps-sdk, ✓ ready for review

#737 China plugin tweaks and map fragment addition
  src/pages/plugins/overview/china.md
Labels: ✓ ready for review

#736 Code snippet fix for starting offline tile download
  src/pages/plugins/overview/offline.md
Labels: ✓ ready for review

#210 Adding Directions API docs
  batfish.config.js
  src/pages/java/overview/directions.md
  src/pages/java/overview/index.md
  src/pages/java/overview/map-matching.md
Labels: mapbox-java, update doc, ✓ ready for review

#742 Adding Java SDK Tilequery API page
  batfish.config.js
  src/pages/java/overview/tilequery.md
Labels: mapbox-java, update doc, ✓ ready for review

#753 Update offline re-routing documentation with example snippets
  src/pages/navigation/overview/offline-routing.md
Labels: navigation-sdk, update doc, ✓ ready for review

#738 Adding info about the Java SDK's StaticMapCriteria class
  src/pages/java/overview/static-image.md
Labels: mapbox-java, update doc, ✓ ready for review

#750 Adding LocationComponent customization code snippet
  src/pages/maps/overview/location-component.md
Labels: maps-sdk, update doc, ✓ ready for review

#762 Update Core Documentation to match latest APIs
  src/pages/core/overview/index.md
Labels: api, telemetry-sdk, update doc, ✓ ready for review

#766 Fix to broken Matrix API link
  src/pages/java/overview/directions.md
Labels: mapbox-java, ✓ ready for review

#765 Update Core Doc Text
  src/pages/core/overview/index.md
Labels: telemetry-sdk, update doc

#775 Adjustments for true plugin nature of China plugin
  src/pages/plugins/overview/china.md
Labels: plugin-sdk, ✓ ready for review

#761 Adding mention of `setToken()`
  src/pages/maps/overview/index.md
Labels: maps-sdk, update doc

#740 Adding runtime styling info
  src/pages/maps/overview/data-driven-styling.md
  src/pages/maps/overview/styling-map.md
Labels: maps-sdk, ✓ ready for review
