Repository mapbox/android-docs, pull requests merged in 2018-04, with the labels that each got.

#371 Telemetry to core changes
  batfish.config.js
  conf/image-config.js
  src/components/product-menu.js
  src/components/side-navigation.js
  src/constants.js
  src/data/product-names.js
  src/data/product-navbar-tabs.js
  src/img/dist/overview-core-lib-322.png
  src/img/dist/overview-core-lib-322.webp
  src/img/src/overview-core-lib.png
  src/pages/core/index.js
  src/pages/core/overview/index.md
  src/pages/telemetry/overview/index.md
Labels: update doc, ✓ ready for review

#359 Updated Matrix API page with new class names and code
  src/pages/mapbox-services/overview/directions-matrix.md
Labels: mapbox-java, update doc, ✓ ready for review

#361 Updated Java Services api reference url links
  src/pages/mapbox-services/overview/index.md
Labels: mapbox-java, ✓ ready for review

#400 location layer 0.5.0-beta.2-javadoc-added
  api/plugins/locationlayer/0.5.0-beta.2/allclasses-frame.html
  api/plugins/locationlayer/0.5.0-beta.2/allclasses-noframe.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/CompassListener.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.Builder.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/OnCameraTrackingChangedListener.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerClickListener.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerLongClickListener.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationStaleListener.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/camera/BearingAnimator.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/camera/LatLngAnimator.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-frame.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-summary.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-tree.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.Mode.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.Mode.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-frame.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-summary.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-tree.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/package-frame.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/package-summary.html
  api/plugins/locationlayer/0.5.0-beta.2/com/mapbox/mapboxsdk/plugins/locationlayer/package-tree.html
  api/plugins/locationlayer/0.5.0-beta.2/constant-values.html
  api/plugins/locationlayer/0.5.0-beta.2/deprecated-list.html
  api/plugins/locationlayer/0.5.0-beta.2/help-doc.html
  api/plugins/locationlayer/0.5.0-beta.2/index-all.html
  api/plugins/locationlayer/0.5.0-beta.2/index.html
  api/plugins/locationlayer/0.5.0-beta.2/overview-frame.html
  api/plugins/locationlayer/0.5.0-beta.2/overview-summary.html
  api/plugins/locationlayer/0.5.0-beta.2/overview-tree.html
  api/plugins/locationlayer/0.5.0-beta.2/package-list
  api/plugins/locationlayer/0.5.0-beta.2/script.js
  api/plugins/locationlayer/0.5.0-beta.2/stylesheet.css
Labels: ✓ ready for review

#401 Static image API docs fix
  src/pages/mapbox-services/overview/static-image.md
Labels: mapbox-java, update doc

#336 Adding dedicated gestures page
  batfish.config.js
  src/pages/map-sdk/examples/index.js
  src/pages/map-sdk/overview/gestures.md
Labels: update doc

#413 Adjusted runtime styling doc to update Position to Point
  src/pages/map-sdk/overview/runtime-styling.md
Labels: mapbox-java, update doc

#410 Added Marker Playground text/link
  src/pages/map-sdk/overview/annotations.md
Labels: ✓ ready for review

#415 Updating sources in runtime styling section
  src/pages/map-sdk/overview/runtime-styling.md
Labels: maps-sdk, update doc, ✓ ready for review

#432 Update LocationLayerPlugin Javadoc 0.5.0
  api/plugins/locationlayer/0.5.0/allclasses-frame.html
  api/plugins/locationlayer/0.5.0/allclasses-noframe.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/CompassListener.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.Builder.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnCameraTrackingChangedListener.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerClickListener.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerLongClickListener.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationStaleListener.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/BearingAnimator.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/LatLngAnimator.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-frame.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-summary.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-tree.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.Mode.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.Mode.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-frame.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-summary.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-tree.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/package-frame.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/package-summary.html
  api/plugins/locationlayer/0.5.0/com/mapbox/mapboxsdk/plugins/locationlayer/package-tree.html
  api/plugins/locationlayer/0.5.0/constant-values.html
  api/plugins/locationlayer/0.5.0/deprecated-list.html
  api/plugins/locationlayer/0.5.0/help-doc.html
  api/plugins/locationlayer/0.5.0/index-all.html
  api/plugins/locationlayer/0.5.0/index.html
  api/plugins/locationlayer/0.5.0/overview-frame.html
  api/plugins/locationlayer/0.5.0/overview-summary.html
  api/plugins/locationlayer/0.5.0/overview-tree.html
  api/plugins/locationlayer/0.5.0/package-list
  api/plugins/locationlayer/0.5.0/script.js
  api/plugins/locationlayer/0.5.0/stylesheet.css
Labels: plugin-sdk
