Repository mapbox/android-docs, pull requests merged in 2018-05, with the labels that each got.

#444 Geocoding fromCoordinates() to fromLngLat() fix
  src/pages/java-sdk/overview/geocoder.md
Labels: mapbox-java, update doc

#447 Add Map Matching documentation for Navigation SDK
  batfish.config.js
  src/pages/navigation/overview/map-matching.md
Labels: navigation-sdk

#453 Adding marker cluster and localization API menu dropdown items
  src/components/side-navigation.js
  src/constants.js
Labels: update doc, ✓ ready for review

#460 Updated plugin version constant numbers
  src/constants.js
Labels: update doc, ✓ ready for review

#479 fixes link for china api docs
  src/components/side-navigation.js
Labels: ✓ ready for review

#443 added writing to advocate for sources + layers usage
  src/pages/map-sdk/overview/annotations.md
Labels: maps-sdk, update doc, ✓ ready for review

#436 More gestures docs
  api/gestures/0.2.0/allclasses-frame.html
  api/gestures/0.2.0/allclasses-noframe.html
  api/gestures/0.2.0/com/mapbox/android/gestures/AndroidGesturesManager.GestureType.html
  api/gestures/0.2.0/com/mapbox/android/gestures/AndroidGesturesManager.html
  api/gestures/0.2.0/com/mapbox/android/gestures/BaseGesture.html
  api/gestures/0.2.0/com/mapbox/android/gestures/Constants.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MoveDistancesObject.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MoveGestureDetector.OnMoveGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MoveGestureDetector.SimpleOnMoveGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MoveGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MultiFingerDistancesObject.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MultiFingerGesture.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MultiFingerTapGestureDetector.OnMultiFingerTapGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/MultiFingerTapGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/PointerDistancePair.html
  api/gestures/0.2.0/com/mapbox/android/gestures/ProgressiveGesture.html
  api/gestures/0.2.0/com/mapbox/android/gestures/RotateGestureDetector.OnRotateGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/RotateGestureDetector.SimpleOnRotateGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/RotateGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/ShoveGestureDetector.OnShoveGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/ShoveGestureDetector.SimpleOnShoveGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/ShoveGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/SidewaysShoveGestureDetector.OnSidewaysShoveGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/SidewaysShoveGestureDetector.SimpleOnSidewaysShoveGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/SidewaysShoveGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/StandardGestureDetector.SimpleStandardOnGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/StandardGestureDetector.StandardOnGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/StandardGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/StandardScaleGestureDetector.SimpleStandardOnScaleGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/StandardScaleGestureDetector.StandardOnScaleGestureListener.html
  api/gestures/0.2.0/com/mapbox/android/gestures/StandardScaleGestureDetector.html
  api/gestures/0.2.0/com/mapbox/android/gestures/Utils.html
  api/gestures/0.2.0/com/mapbox/android/gestures/package-frame.html
  api/gestures/0.2.0/com/mapbox/android/gestures/package-summary.html
  api/gestures/0.2.0/com/mapbox/android/gestures/package-tree.html
  api/gestures/0.2.0/constant-values.html
  api/gestures/0.2.0/deprecated-list.html
  api/gestures/0.2.0/help-doc.html
  api/gestures/0.2.0/index-all.html
  api/gestures/0.2.0/index.html
  api/gestures/0.2.0/overview-tree.html
  api/gestures/0.2.0/package-list
  api/gestures/0.2.0/script.js
  api/gestures/0.2.0/stylesheet.css
  src/constants.js
  src/pages/map-sdk/overview/gestures.md
Labels: update doc, ✓ ready for review

#454 MapboxStaticMap code snippet fix
  src/pages/java-sdk/overview/static-image.md
Labels: mapbox-java, update doc, ✓ ready for review

#237 Adding bubble layout docs
  src/img/src/bubble-layout.png
  src/pages/map-sdk/overview/annotations.md
Labels: update doc, ✓ ready for review

#498 Linking `Capturing Click Events` to `Query Map Features` section
  src/pages/map-sdk/overview/runtime-styling.md
Labels: maps-sdk, update doc, ✓ ready for review

#497 Additions about using (custom) map styles
  src/pages/map-sdk/overview/styling-map.md
Labels: maps-sdk, update doc, ✓ ready for review

#510 location layer 0.5.3 javadoc added
  api/plugins/locationlayer/0.5.3/allclasses-frame.html
  api/plugins/locationlayer/0.5.3/allclasses-noframe.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/CompassListener.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.Builder.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/OnCameraTrackingChangedListener.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerClickListener.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationLayerLongClickListener.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/OnLocationStaleListener.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/camera/BearingAnimator.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/camera/LatLngAnimator.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-frame.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-summary.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/camera/package-tree.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.Mode.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/CameraMode.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.Mode.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-frame.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-summary.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/modes/package-tree.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/package-frame.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/package-summary.html
  api/plugins/locationlayer/0.5.3/com/mapbox/mapboxsdk/plugins/locationlayer/package-tree.html
  api/plugins/locationlayer/0.5.3/constant-values.html
  api/plugins/locationlayer/0.5.3/deprecated-list.html
  api/plugins/locationlayer/0.5.3/help-doc.html
  api/plugins/locationlayer/0.5.3/index-all.html
  api/plugins/locationlayer/0.5.3/index.html
  api/plugins/locationlayer/0.5.3/overview-frame.html
  api/plugins/locationlayer/0.5.3/overview-summary.html
  api/plugins/locationlayer/0.5.3/overview-tree.html
  api/plugins/locationlayer/0.5.3/package-list
  api/plugins/locationlayer/0.5.3/script.js
  api/plugins/locationlayer/0.5.3/stylesheet.css
Labels: ✓ ready for review

#511 Updates for Navigation SDK 0.14.0
  src/constants.js
  src/pages/navigation/overview/index.md
  src/pages/navigation/overview/milestones.md
  src/pages/navigation/overview/navigation-ui.md
Labels: navigation-sdk, update doc
