Repository mapbox/android-docs, pull requests merged in 2019-01, with the labels that each got.

#790 Code tweak to Directions API kotlin
  src/pages/java/overview/directions.md
Labels: mapbox-java, ✓ ready for review

#794 Docs changes for Maps SDK 7.0.0 release
  src/pages/core/overview/index.md
  src/pages/maps/overview/annotations.md
  src/pages/maps/overview/clustering.md
  src/pages/maps/overview/data-driven-styling.md
  src/pages/maps/overview/index.md
  src/pages/maps/overview/location-component.md
  src/pages/maps/overview/snapshotter.md
  src/pages/maps/overview/styling-map.md
Labels: maps-sdk, navigation-sdk, telemetry-sdk, update doc, work in progress

#799 added paragraph about new plugin naming
  src/pages/plugins/overview/index.md
Labels: maps-sdk, plugin-sdk, update doc, ✓ ready for review

#796 Update navigation MapboxMapMatching and OffRoute documentation
  src/pages/navigation/overview/map-matching.md
  src/pages/navigation/overview/off-route.md
  src/pages/navigation/overview/offline-routing.md
Labels: navigation-sdk, update doc, ✓ ready for review

#805 Update to Core Library description
  src/pages/core/overview/index.md
Labels: telemetry-sdk, update doc

#807 Tweaks to CustomGeometrySource section
  src/pages/maps/overview/data-driven-styling.md
Labels: maps-sdk, update doc, ✓ ready for review

#802 [DNM] Updates URLs for API documentation in Android docs
  src/pages/java/overview/directions-matrix.md
  src/pages/java/overview/directions.md
  src/pages/java/overview/geocoder.md
  src/pages/java/overview/map-matching.md
  src/pages/java/overview/optimization.md
  src/pages/java/overview/tilequery.md
  src/pages/navigation/overview/index.md
  src/pages/plugins/overview/index.md
  src/pages/plugins/overview/places.md
  src/pages/vision-ar/overview/index.md
Labels: update doc, ⚠️ DO NOT MERGE, ✓ ready for review

#804 Maps SDK 7.0.0 updates to China plugin page
  src/pages/plugins/overview/china.md
Labels: plugin-sdk, update doc

#811 Updated services list at top of Java SDK overview
  src/pages/java/overview/index.md
Labels: mapbox-java, ✓ ready for review

#815 Update documentation for Navigation SDK 0.27.0
  src/pages/navigation/overview/index.md
  src/pages/navigation/overview/navigation-ui.md
  src/pages/navigation/overview/off-route.md
Labels: navigation-sdk, ✓ ready for review

#825 Fix broken ReplayRouteLocationEngine code snippet
  src/pages/navigation/overview/index.md
Labels: navigation-sdk, ✓ ready for review

#824 Adding info about LocationComponentOptions methods
  conf/image-config.js
  src/img/dist/location-component-active-600.png
  src/img/dist/location-component-active-600.webp
  src/img/dist/location-component-stale-600.png
  src/img/dist/location-component-stale-600.webp
  src/img/src/location-component-active.png
  src/img/src/location-component-stale.png
  src/pages/maps/overview/location-component.md
Labels: maps-sdk, ✓ ready for review
