Repository mapbox/android-docs, pull requests merged in 2019-04, with the labels that each got.

#903 Removing "for Android" from Java SDK section
  conf/image-config.js
  src/data/product-names.js
  src/pages/java/overview/index.md
  src/pages/plugins/overview/index.md
Labels: mapbox-java, update doc

#906 Update installation instructions maven URL placement
  src/pages/navigation/overview/index.md
Labels: navigation-sdk, update doc, ✓ ready for review

#898 More spoken instruction languages in OSRM Text Instructions v0.13.3
  src/pages/navigation/overview/localization.md
Labels: navigation-sdk

#900 Changes/additions to map query page
  src/pages/maps/overview/query.md
  src/pages/vision-ar/overview/index.md
  src/pages/vision/overview/index.md
Labels: maps-sdk, update doc, ✓ ready for review
