Repository mapbox/android-docs, pull requests merged in 2019-03, with the labels that each got.

#871 Dropping China plugin constant to 1.2.0
  src/constants.json
Labels: ✓ ready for review

#856 Dropped Java SDK minSDKVersion to 14
  src/pages/java/overview/index.md
Labels: mapbox-java, ✓ ready for review

#879 Typo fix: added missing c
  src/pages/maps/overview/index.md
Labels: update doc

#890 Replace scroll listener with move listener
  src/pages/maps/overview/events.md
Labels: maps-sdk, update doc, ✓ ready for review
